.loginContainer{
    background-image:url('https://i.redd.it/y1ostvqnr4711.jpg');
    height:100vh;
    padding-top:230px;
}

.loginWrapper{
    margin: auto;
    width: 20%;
    border: 1px dashed black;
    padding: 50px;
}